@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap");
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 600px;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.links a:hover {
  color: #f1356d;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}
.blog-preview a {
  text-decoration: none;
}
.contents {
  display: flex;
  padding: 10px;
}
.inputs {
  margin-left: 10px;
  width: 100%;
}
.create-button {
  text-align: center;
}
.blog-details h2 {
  color: #f1356d;
  margin-bottom: 5px;
}
.blog-details p {
  margin-bottom: 20px;
  max-width: 400px;
}
.create > h2 {
  color: #f1356d;
  text-align: center;
}
.create input[type="text"],
.create textarea {
  width: 100%;
  display: block;
  /* margin: 0 10px; */
  padding: 5px;
  outline: none;
}
.create select {
  padding: 5px;
  width: 100%;
  outline: none;
}
.create input[type="submit"] {
  padding: 5px 30px;
  background-color: #f1356d;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.create textarea {
  height: 220px;
}
article button{
  margin-top: 20px;
  padding: 5px 30px;
  background-color: #f1356d;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.not-found > h1{
  margin-bottom: 20px;
}
.not-found p{
  margin: 10px 0;
}